.largeWidget {
  flex: 2;
  box-shadow: 0px 0px 18px -10px gray;
  padding: 20px;
}

.largeWidgetTitle {
  font-size: 32px;
  font-weight: 600;
}
.largeWidgetTable {
  width: 100%;
  border-spacing: 20px;
}
.largeWidgetHeader {
  text-align: left;
}
.largeWidgetUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.largeWidgetImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.largeWidgetDate,
.largeWidgetAmount,
.largeWidgetStatus {
  font-weight: 300;
}
.largeWidgetButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}
.largeWidgetButton.Approved {
  background-color: #90ee90;
  color: green;
}
.largeWidgetButton.Declined {
  background-color: #ffcccb;
  color: red;
}
.largeWidgetButton.Pending {
  background-color: lightblue;
  color: blue;
}
