/* Tablet Devices*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*FeatureInfo Component */
  .featureItem {
    width: 60%;
    padding: 15px;
  }
  /* chart */
  /* .chart {
    width: 500px;
  } */
  /* Home Widgets from Home Component*/
  .smallWidget {
    width: 50%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .smallWidgetUser {
    align-items: flex-start;
  }
  .largeWidget {
    height: 434px;
  }
  /* Sidebar*/
  .sidebar {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}
